<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | {{ title }}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <h2>Dashboard</h2>
  <p>Hi, <b>{{user.username}}</b>!</p>
  <a href="javascript:logout()">Logout</a>
  
  {{!-- send request to DELETE /user/session --}}
</body>
<script>
  // send request to DELETE /user/session
  function logout(){
    fetch('/user/session', {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(res => res.json())
    .then(data => {
      if(data.status === 'success'){
        window.location.href = '/';
      }
    })
    .catch(err => console.log(err));
  }
</script>
</html>